<section
  class="relative
         mt-8
         overflow-hidden
         bg-dark-navy
         shadow-card">

  <!-- Background Image -->

  <img
    src="assets/images/2.png"
    alt="Egypt"
    class="absolute
           right-0
           top-0
           h-full
           w-full
           lg:w-1/2
           object-cover
           opacity-90">


  <!-- Gradient Overlay -->

  <div
    class="absolute
           inset-0
           bg-gradient-to-r
           from-dark-navy
           via-dark-navy/95
           to-transparent">
  </div>


  <div class="relative z-10 grid lg:grid-cols-12">


    <!-- Left Side -->

    <div
      class="lg:col-span-5
             px-10
             py-10">

      <h2
        class="text-white
               text-[38px]
               font-bold
               leading-tight">

        Why Travel With

        <span class="text-gold">
          JuniorPharon Tours?
        </span>

      </h2>


      <p
        class="mt-5
               text-slate-300
               leading-8">

        Let JuniorPharon Tours be your trusted travel partner in Egypt.

        We create unforgettable experiences with passionate Egyptologists,
        private transportation, carefully selected hotels, luxury Nile cruises,
        and personalized service from arrival to departure.

      </p>

    </div>



    <!-- Right Side -->

    <div
      class="lg:col-span-7
             grid
             grid-cols-2
             md:grid-cols-3
             lg:grid-cols-5">


      <div
        *ngFor="let stat of stats"
        class="relative
               flex
               flex-col
               items-center
               justify-center
               py-10
               px-4">


        <!-- Divider -->

        <span
          class="hidden
                 lg:block
                 absolute
                 left-0
                 top-8
                 bottom-8
                 w-px
                 bg-white/10">
        </span>



        <!-- Icon -->

        <div
          class="w-16
                 h-16
                 mb-5"
          [ngClass]="stat.color"
          [style.mask-image]="'url(' + stat.icon + ')'"
          [style.webkitMaskImage]="'url(' + stat.icon + ')'"
          style="
            mask-size: contain;
            -webkit-mask-size: contain;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-position: center;
          ">
        </div>



        <!-- Number -->

        <h3
          class="text-white
                 text-4xl
                 font-bold">

          {{stat.value}}

        </h3>



        <!-- Text -->

        <p
          class="mt-2
                 text-center
                 text-slate-300
                 text-sm
                 leading-5">

          {{stat.title}}

          <br>

          {{stat.subtitle}}

        </p>


      </div>


    </div>


  </div>


</section>
