<div class="mt-10 relative max-w-[1500px] mx-auto">

  <h2 class="text-xl font-bold max-w-7xl mx-auto text-dark-gray mb-6">
    Reviews
  </h2>

  <!-- 🔘 Left Arrow -->
  <button
    (click)="prev()"
    class="hidden lg:flex absolute left-0 top-1/2 -translate-y-1/2 z-10 h-12 w-12  items-center justify-center bg-white shadow-lg rounded-full cursor-pointer"
  >
    <i class="bx bx-chevron-left text-2xl text-dark-teal"></i>
  </button>

  <!-- 🔘 Right Arrow -->
  <button
    (click)="next()"
    class="hidden lg:flex absolute right-0 top-1/2 -translate-y-1/2 z-10 h-12 w-12  items-center justify-center bg-white shadow-lg rounded-full cursor-pointer"
  >
    <i class="bx bx-chevron-right text-2xl text-dark-teal"></i>
  </button>

  <!-- 🎯 Slider -->
  <div class="overflow-hidden max-w-7xl mx-auto">

    <div
      class="flex transition-transform duration-500 ease-in-out"
      [style.transform]="'translateX(-' + currentIndex * (100 / visibleCards) + '%)'"
    >

      <div
        *ngFor="let review of reviews"
        class="min-w-full sm:min-w-1/2 lg:min-w-1/3 px-3"
      >

        <div
          class="bg-dark-teal/95 rounded-2xl p-5 shadow-md border border-white/10 hover:shadow-xl transition duration-300 h-[200px] flex flex-col"
        >

          <!-- 👤 + ⭐ -->
          <div class="flex items-center justify-between mb-3">

            <div class="flex items-center gap-3">
              <img
                [src]="review.image"
                class="w-12 h-12 rounded-full object-cover border-2 border-light-gold"
              />

              <div>
                <h3 class="text-white font-semibold">
                  {{ review.user }}
                </h3>

                <p class="text-xs text-light-gold">
                  {{ review.date }}
                </p>
              </div>
            </div>

            <!-- Rating -->
            <div class="flex items-center gap-1 text-light-gold text-sm">
              <ng-container *ngFor="let star of getStars(review.rating); let i = index">
                <i
                  class="bx"
                  [ngClass]="i < review.rating ? 'bxs-star' : 'bx-star'"
                ></i>
              </ng-container>
            </div>

          </div>

          <!-- Comment -->
          <p class="text-creamy-gray text-sm mt-2 line-clamp-3 leading-relaxed">
            {{ review.comment }}
          </p>

        </div>

      </div>

    </div>

  </div>
</div>
