<!-- Top Bar -->
<div class="bg-sand-brown text-white text-sm">
  <div class="max-w-7xl mx-auto flex justify-between px-4 py-1">
    <span><i class="fa-solid fa-phone"></i> 123 4567 908</span>
    <span>Book Resort Credit Offer</span>
    <span><i class="fa-solid fa-envelope"></i> ass-salaam&#64;gmail.com</span>
    <span class="cursor-pointer hover:underline">Register For Free</span>
  </div>
</div>

<!-- Main Navbar -->
<nav class="bg-creamy-gray shadow-sm">
  <div class="max-w-7xl mx-auto flex items-center justify-between px-6 py-4">

    <!-- Logo -->
    <div class="text-xl font-semibold text-sand-brown">
      As-salaam
    </div>

    <!-- Links -->
    <ul class="hidden md:flex space-x-8 text-dark-gray font-medium relative">
  <li class="relative cursor-pointer">
    Home
    <!-- SVG المقوس -->
    <svg class="absolute left-0 bottom-[-4px] w-full h-2 " viewBox="0 0 100 10" preserveAspectRatio="none">
      <path d="M0 10 Q50 0 100 10" stroke="#D66A2E" stroke-width="3" fill="transparent" />
    </svg>
  </li>
  <li class="hover:text-burnt-orange cursor-pointer">Location</li>
  <li class="hover:text-burnt-orange cursor-pointer">Offers</li>
  <li class="hover:text-burnt-orange cursor-pointer">Meetings & Events</li>
  <li class="hover:text-burnt-orange cursor-pointer">Credit Cards</li>
</ul>

    <!-- Button -->
    <button class="bg-burnt-orange text-white px-5 py-2 rounded-md hover:opacity-90 transition">
      Book Now
    </button>

  </div>
</nav>
