<li>
  <button
    (click)="toggle()"
    class="w-full flex justify-between items-center px-6 py-4 text-white hover:bg-white/5 transition"
  >
    <span>
      {{ "NAVBAR.DAY_TOURS" | translate }}
    </span>

    <i
      class="fa-solid fa-chevron-down transition-transform duration-300"
      [class.rotate-180]="isOpen"
    ></i>
  </button>

  <div *ngIf="isOpen" class="bg-navy">
    <a
      *ngFor="let city of cities"
      [routerLink]="['/day-tours', city.slug]"
      (click)="selectCity()"
      class="flex items-center gap-3 px-8 py-3 border-t border-white/10 hover:bg-white/5 transition"
    >
      <img
        [src]="city.image"
        [alt]="city.name"
        class="w-9 h-9 rounded-full object-cover"
      />

      <span class="text-white">
        {{ city.key | translate }}
      </span>
    </a>
  </div>
</li>
