<section
  class="relative h-[500px] sm:h-[550px] lg:h-[650px] rounded-2xl lg:rounded-3xl overflow-hidden shadow-2xl my-6 lg:my-10"
>
  <!-- Background -->
  <img
    [src]="heroSlides[currentSlide].image"
    class="absolute inset-0 w-full h-full object-cover transition-opacity duration-700 ease-in-out"
    [class.opacity-0]="isFading"
    [class.opacity-100]="!isFading"
  />
  <!-- Overlay -->
  <div
    class="absolute inset-0 bg-gradient-to-r from-black/75 via-black/45 to-black/20"
  ></div>

  <!-- Content -->
  <div
    class="relative z-10 flex items-center h-full transition-all duration-700 ease-in-out"
    [class.opacity-0]="isFading"
    [class.opacity-100]="!isFading"
  >
    <div class="container mx-auto px-5 sm:px-8 lg:px-12">
      <!-- Badge -->
      <div
        class="inline-flex items-center gap-2 bg-white/15 backdrop-blur-md text-white px-3 py-1.5 sm:px-4 sm:py-2 rounded-full border border-white/20 mb-5"
      >
        <i class="fa-solid fa-location-dot text-light-orange"></i>

        <span class="text-xs sm:text-sm font-medium">
          {{ heroSlides[currentSlide].badge }}
        </span>
      </div>

      <!-- Title -->
      <h1
        class="font-extrabold text-2xl sm:text-4xl lg:text-6xl leading-tight text-white max-w-4xl"
      >
        {{ heroSlides[currentSlide].title1 }}

        <span class="text-light-orange">
          {{ heroSlides[currentSlide].title2 }}
        </span>

        {{ heroSlides[currentSlide].title3 }}
      </h1>

      <!-- Description -->
      <p
        class="mt-4 text-xs sm:text-base lg:text-xl leading-6 lg:leading-8 text-white/90 max-w-xl"
      >
        {{ heroSlides[currentSlide].description }}
      </p>

      <!-- Rating -->
      <div class="mt-6 flex flex-wrap items-center gap-3 text-white">
        <div class="flex text-star text-base sm:text-xl">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>

        <span class="font-medium text-sm sm:text-base">
          4.9 / 5 • 10,000+ Happy Travelers
        </span>
      </div>

      <!-- Buttons -->
      <div class="mt-8 flex flex-col sm:flex-row gap-4 sm:w-fit">
        <div class="flex gap-4 mt-10">
          <!-- Explore Tours -->
          <button
            routerLink="/trips"
            class="cursor-pointer bg-light-orange hover:bg-orange-hover text-white px-8 py-3 rounded-xl font-semibold shadow-lg transition"
          >
            <i class="fa-solid fa-plane-departure mr-2"></i>
            Explore Tours
          </button>

          <!-- View Destinations -->
          <button
            routerLink="/map"
            class="cursor-pointer border-2 border-white hover:bg-white hover:text-blue text-white px-8 py-3 rounded-xl font-semibold transition"
          >
            <i class="fa-solid fa-map-location-dot mr-2"></i>
            View Destinations
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Indicators -->
  <div class="absolute bottom-5 left-1/2 -translate-x-1/2 flex gap-3">
    <div
      *ngFor="let slide of heroSlides; let i = index"
      (click)="changeSlide(i)"
      class="cursor-pointer rounded-full transition-all duration-300"
      [class.w-8]="currentSlide == i"
      [class.bg-light-orange]="currentSlide == i"
      [class.w-3]="currentSlide != i"
      [class.h-3]="true"
      [class.bg-white]="currentSlide != i"
    ></div>
  </div>
</section>
