<!-- <app-Navbar></app-Navbar> -->
<app-hero-section></app-hero-section>
<app-explore-resorts></app-explore-resorts>


<app-special-offers></app-special-offers>
<app-ResortGuideSection
  title="Plan the perfect resort getaway"
  description="Planning the perfect resort getaway involves several key considerations, such as location, accommodation, activities, and amenities. Here's a step-by-step guide to help you plan your dream resort vacation"
  image="assets/images/ResortGuideSection/highdam.jpg"
  sideTitle="A traveling insider’s guide to Las Vegas"
  sideText="Las Vegas, often referred to as the Entertainment Capital of the World, is a vibrant city known for its casinos, resorts, nightlife, and entertainment. Best Time to Visit: Las Vegas has a desert climate, so it can get extremely hot during summer (June to August). Consider visiting during spring (March to May) or fall (September to November) when the temperatures are more moderate."
> </app-ResortGuideSection>

<app-ResortGuideSection
  title="Three reasons to make a resort your next Office vacation"
  description="Las Vegas, often referred to as the Entertainment Capital of the World, is a vibrant city known for its casinos, resorts, nightlife, and entertainment."
  image="assets/images/ResortGuideSection/pyramids.jpg"
  sideTitle="Why your team will love it"
  sideText="Las Vegas has a desert climate, so it can get extremely hot during summer (June to August). Consider visiting during spring (March to May) or fall (September to November) when the temperatures are more moderate."
></app-ResortGuideSection>

<app-newsletter-subscribe></app-newsletter-subscribe>
<!-- <app-footer></app-footer> -->
